body {
	
}

#body {
	background-color: #e9e9e9;
	margin: auto;
	font-size: 10pt;
}

#header {
	padding: 1px;
}

#content {
	margin: auto;
}

#leftcontent {
	float: left;
	margin: auto;
	width: 215px;
	padding-left: 25px;
}

#rightcontent {
    float: right;
    margin: auto;
    width: 215px;
    padding-left: 35px;
    padding-right: 25px;
}

#centercontent {
    margin: auto;
    overflow: hidden;	
}

#footer {
	font-size: 8pt;
	text-align: center;
	padding: 6px;
	clear: both;
}

#control {
	margin: auto;
	padding-bottom: 10px;
}

#dir {
	margin: auto;
}

#title {
	text-align: center;
}

#blog {
	
}

#comments {
	
}

#commenthead {
	text-align: right;
	width: 250px;
}

#commentbody {
	width: 250px;
}

a:hover {
	color: red;
}

h1 {
	text-align: center;
}

.dialog {
	
}

.error {
	font-weight: bold;
	color: red;
}

.code-block {
	margin: 0px 5px 10px 5px;
	padding: 5px 20px 5px 20px;
	font: 10pt monospace;
	border: 1px inset;
}